body{
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}
.hero-content p{
    background-color: rgba(0,0,0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}


.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}
.hero nav a{
    background: rgba(0,0,0, 0.3);
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.hero nav a:hover{
    background: rgba(0,0,0, 0.5);
}


main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img {
   width: 100%; 
    display: block;
}
.card p{
    background-color: #393535;
    color: white;
    margin: 0;
    padding: 15px;
}

.card a{
    display: block;
    color: white;
    text-decoration: none;
}

.card-1 p:hover {
    background: rgba(231, 178, 4, 0.8);
    text-transform: uppercase;
    font-size: 18px;
}

.card-2 p:hover {
    background: rgba(218, 2, 207, 0.8);
    text-transform: uppercase;
    font-size: 18px;
}

.card-3 p:hover {
    background: rgba(255, 251, 14, 0.8);
    text-transform: uppercase;
    font-size: 18px;

}

.content-header{
    border-bottom: solid 2px #ccc;
	padding: 10px;
	
	background: #eee;
}
.content-header h2{
    margin:0;
}

.rodape{
    height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 80px;
}